.atc-redirect-wrapper { 
	width:980px;
	margin:0px auto; 
}

#atc_redirect h3 { 
	font-family:Open Sans;
	font-size:25px;
	line-height:25px;
	color:#4c4c4c;
	font-weight:normal;
	padding-left:5px; 
}

#atc_redirect h4 { 
	font-size:20px;
	color:#298ee3;
	font-family:Open Sans;
	line-height:30px;
	font-weight:normal;
	border-bottom:1px solid #e9e9e9;
	padding:20px 0px 8px 0px;
	margin:0px; 
}

#atc_redirect h5 { 
	font-size:16px;
	color:#ff6600;
	font-family:Open Sans;
	line-height:20px;
	font-weight:normal;
	border-bottom:1px solid #e9e9e9;
	padding:20px 0px 8px 0px;
	margin:0px; 
}

#content {
	background: #fff;
	min-height: 500px;
}

#atc_redirect .content { 
	background:#fff;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 6px 2px #e9e9e9;
	box-shadow: 0px 0px 6px 2px #e9e9e9;
	-moz-box-shadow: 0px 0px 6px 2px #e9e9e9;
	padding:5px;
	margin-bottom:50px; 
}

	#atc_redirect .content > div {
		border: 1px solid #c8c8c8;
		border-radius: 2px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		background:url(../image/atc_redirect/tabs-bg.png) top left repeat-y;
	}
	
		#atc_redirect .content > div .module-body {
			min-height: 400px;
		}
		
			#atc_redirect .content > div .module-body .main-tabs {
				float: left;
				width: 190px;
				padding: 0px;
				border: none;
				margin: 0px;
			}
			
				#atc_redirect .content > div .module-body .main-tabs a {
					display:block;
					float:none;
					clear:both;
					border:none;
					background:none;
					margin:0px;
					border-bottom:1px solid #e0e0e0;
					text-align:left;
					padding:15px 20px 0px 20px;
					font-family:Open Sans;
					color:#4c4c4c;
					font-size:14px;
					height:34px;
					font-weight: 400;
					text-align: right;
				}
				
					#atc_redirect .content > div .module-body .main-tabs a.selected {
						background:#fff;
						padding:15px 20px 0px 20px;
						height:34px;
					}
			
			#atc_redirect .content > div .module-body .tab-content {
				float: left;
				padding: 10px 30px 30px 30px;
				width: 715px;
			}
								
	#atc_redirect .content > div .buttons {
		background:#F7F7F7;
		border-top:1px solid #c8c8c8;
		text-align:right;
		height:78px;
		padding:0px 18px;
	}
		
		#atc_redirect .content > div .buttons .button-save {
			display:block;
			border: none;
			cursor: pointer;
			float:right;
			text-indent:100000px;
			overflow:hidden;
			width:97px;
			height:39px;
			cursor:pointer;
			background:url(../image/atc_redirect/button_save.png) top left no-repeat;
			margin-top:19px;
			margin-left: 20px;
		}
		
		#atc_redirect .content > div .buttons .button-cancel{
			display:block;
			border: none;
			cursor: pointer;
			float:right;
			text-indent:100000px;
			overflow:hidden;
			width:97px;
			height:39px;
			cursor:pointer;
			background:url(../image/atc_redirect/button_cancel.png) top left no-repeat;
			margin-top:19px;
			margin-left: 20px;
		}
		
	


.input { 
	padding:19px 0px 19px 0px;
	border-bottom:1px solid #e0e0e0; 
}

.input.statuses { 
	padding:10px 0px 10px 0px !important; 
}
	
	.input:first-child {
		padding-top: 4px;
	}

	.input p { 
		float:left;
		width:180px;
		font-family:Open Sans;
		color:#4c4c4c;
		font-size:14px;
		padding:6px 10px 0px 0px;
		margin:0px;
		line-height:14px; 
	}

	.input input[type=text] { 
		display:block;
		float:left;
		width:220px;
		margin:0px;
		border:1px solid #cccccc;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		color:#4c4c4c;
		background:#fff url(../image/atc_redirect/input-bg.png) top left repeat-x;
		padding:6px 8px;
		margin-right:20px; 
	}
	
	.input select { 
		display:block;
		float:left;
		width:240px;
		margin:0px;
		border:1px solid #cccccc;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		-moz-border-radius: 4px;
		color:#4c4c4c;
		background:#fff url(../image/atc_redirect/input-bg.png) top left repeat-x;
		padding:6px 8px;
		margin-right:20px; 
	}


.status-on { 
	float: left;
	width:69px;
	height:30px;
	background:url(../image/atc_redirect/status-on.png) top left no-repeat;
	cursor:pointer;
}

.status-off { 
	float: left;
	width:69px;
	height:30px;
	background:url(../image/atc_redirect/status-off.png) top left no-repeat;
	cursor:pointer;
}
			

.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.input-color {
	clear:both;
	padding:19px 0px 19px 0px;
	border-bottom:1px solid #e0e0e0; 

}
.input-color p { 
	float:left;
	width:190px;
	font-family:Open Sans;
	color:#4c4c4c;
	font-size:14px;
	margin:0px;
	padding:3px 0px 0px 0px; 
}

.input-color div { 
	float: left;
	width:70px; 
}

.input-color input { 
	display:block;
	width:63px;
	margin:0px;
	border:1px solid #cccccc;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	color:#4c4c4c;
	background:#fff url(../image/atc_redirect/input-bg.png) top left repeat-x;
	padding:6px 8px; 
}