/* Home */
.tile.selected {
  background: #7aae50;
}
.tile.selected .tile-heading{
	background: #628249;
	padding: 5px 8px;
	text-transform: uppercase;
	color: #FFF;
}
.tile.selected .tile-footer {
  background: #8fbb6c;
}
.tile.selected .tile-body i {
  opacity: 1;
}
.tile-heading {
    padding: 5px 8px;
    text-transform: uppercase;
    background-color: #1E91CF;
    color: #FFF;
}
.tile {
    margin-bottom: 15px;
    border-radius: 3px;
    background-color: #279FE0;
    color: #FFFFFF;
    transition: all 1s;
}
.tile-body {
    padding: 15px;
    color: #FFFFFF;
    line-height: 48px;
}
.tile a {
    color: #FFFFFF;
}
.tile .tile-body i {
    font-size: 50px;
    opacity: 0.3;
    transition: all 1s;
}
.tile-footer {
  height: 36px;
}
.tile-footer {
    padding: 5px 8px;
    background-color: #3DA9E3;
}
/* input */
.input-group {
  margin-bottom: 5px;
}
/* table */
.sort-item.dragged td,
.table-sortable td {
  width: 20%;
}
[data-toggle="tooltip"] .fa-question-circle {
  color: #1E91CF;
}
.table-sortable .placeholder {
  height: 52px;
  width: 100%;
}
.table-sortable .placeholder td {
  background: #eee;
}
.table-sortable .dragged td {
  width: 20%;
}
.table-sortable {
  position: relative;
}
.table-sortable .dragged {
  position: absolute;
  z-index: 2000;
  width: 100%;
  display: table;
  background: #ffffff;
}
/* design columns*/
#column_slider {
  width: 100%;
}
.s-nav-stacked li,
.s-nav-stacked li a {
  width: 100%;
  display: block;
  margin-left: 0px !important;
  margin-bottom: 2px;
}
.column-width-group .column-width {
  border: 0px;
  padding: 0px;
  text-align: center;
}
body.dragging,
body.dragging * {
  cursor: move !important;
}
.dragged {
  position: absolute;
  z-index: 2000;
  width: 100%;
}
#column_groups ul.column li.placeholder {
  position: relative;
  background: #efefef;
  height: 100px;
  margin: 10px 10px;
  border-radius: 3px;
  border: 1px dashed #ccc;
}
#column_groups ul.column li.placeholder:before {
  position: absolute;
}
#column_groups ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
#column_groups {
  overflow: hidden;
}
#column_design .column {
  min-height: 100px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 0px;
  overflow: hidden;
}
#column_groups .column-group-1 {
  float: left;
  margin-bottom: -99999px;
  padding-bottom: 100000px;
}
#column_groups .column-group-2 {
  border-right: 1px solid #B5B5B5;
  margin-right: -1px;
}
#column_1 {
  border-right: 1px solid #B5B5B5;
  margin-right: -1px !important;
}
#column_2 {
  border-right: 1px solid #B5B5B5;
  margin-right: -1px !important;
}
#column_3 {
  border-left: 1px solid #B5B5B5;
}
#column_4 {
  float: right !important;
  border-top: 1px solid #B5B5B5;
  border-bottom: 1px solid #B5B5B5;
  margin-left: -1px !important;
}
.portlet {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
}
.portlet-wrap {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #ccc;
  min-height: 100px;
  overflow: hidden;
  background: #eeeeee;
  border-radius: 3px;
  margin: 10px;
}
.portlet-wrap:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.portlet-header {
  border-bottom: 1px solid #b5b5b5;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #526066;
  min-width: 100px;
  margin: 5px 10px;
  padding-bottom: 5px;
}
.portlet-content .text {
  margin: 8px 10px 0px 10px;
  max-height: 33px;
  color: #526066;
  min-width: 100px;
  overflow: hidden;
}
.portlet-content .text {
  text-align: center;
}
.portlet.dragged {
  height: 120px;
}
.btn-sm, .btn-group-sm > .btn {
    padding: 4px 9px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px;
}
.input-sm {
    height: 26px;
    padding: 4px 9px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 3px;
}
input[type='text'], input[type='password'] {
     padding: 4px 9px; 
}
.table thead > tr > td, .table tbody > tr > td {
    vertical-align: middle;
}
.nav-tabs {
    margin-bottom: 25px;
}
#menu > ul li ul {
    position: absolute;
    margin-top: -3px;
}
#menu > ul li ul ul {
    margin: -33px 0 0 151px;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: normal;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
}
.tooltip.in {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  border-radius: 3px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  right: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}