/*##################################################  RGEN MODULES  ###########*/

.s_titles {
  text-transform: uppercase;
  color: #FF802B;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 3px;
}


input[type=hidden] {
  display: none;
}
input[type=text], textarea,
select
{
  padding: 5px;
  border: 1px solid #ddd;
  border-color: #ddd #eee #eee #ddd;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
select {
  padding: 3px;
  height: 26px;
}
/*	
	VTABS
	============================ 
*/

.htabs, .htabs a {
  border-color: #ccc !important;
}
.htabs {
  padding-left: 0 !important;
}
.htabs a {
  height: 16px;
  margin-right: 5px;
  line-height: 16px;
  text-shadow: 1px 1px 0 #fff;
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  background: -moz-linear-gradient(top, #eee, #e6e6e6);
  background: -o-linear-gradient(top, #eee, #e6e6e6);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), to(#e6e6e6));
  background-color: #eee;
  border-top-color: #ddd;
  box-shadow: inset 0 1px 0 #fff;
  -o-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 #fff;
}
.htabs a:hover {
  background: -moz-linear-gradient(top, #e6e6e6, #ddd);
  background: -o-linear-gradient(top, #e6e6e6, #ddd);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#ddd));
  background-color: #e6e6e6;
}
.htabs a.selected {
  color: #ff4c00;
}
.htabs a.selected,
.htabs a.selected:hover
{
  background: -moz-linear-gradient(top, #f6f6f6, #fff);
  background: -o-linear-gradient(top, #f6f6f6, #fff);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#fff));
  background-color: #fff !important;
  box-shadow: inset 0 1px 0 #fff;
  -o-box-shadow: inset 0 1px 0 #fff;
  -moz-box-shadow: inset 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 #fff;
}
.vtabs {
  padding-top: 0;
  width: 200px;
}
.vtabs a:hover {
  background-color: #EDEDED;
}
.vtabs a.selected:hover {
  background-color: #fff;
}
.vtabs a.selected {
  color: #ff4c00;
}
.vtabs a {
  width: 170px;
}
.vtabs_page {
  margin-left: 220px;
}
.vtabs_page_holder {
  float: left;
  width: 100%;
}

.icotype_abox {
    width: 305px;
    background-color: #E9E9E9;
}
.icotype_abox img {
    padding: 4px;
}

.icotype_afbox {
    width: 305px;
    background-color: #E9E9E9;
}
.icotype_afbox img {
    padding: 4px;
}

.welcome_a {
    
}

.welcome_a img{
    display: inline-block;   
}

.welcome_a h2{
    display: inline-block;   
}
