@font-face {
  font-family: 'icomoon2';
  src:  url('./fonts/icomoon.eot?8z7hzy');
  src:  url('./fonts/icomoon.eot?8z7hzy#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?8z7hzy') format('truetype'),
    url('./fonts/icomoon.woff?8z7hzy') format('woff'),
    url('./fonts/icomoon.svg?8z7hzy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-pigy"], [class*=" icon-pigy"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pigy:before {
  content: "\e900";
}
i.piggy:before,span.piggy:before{
  font-family: 'icomoon2';
    content: "\e900";
    font-size: 18px!important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.text-reward.piggy:before{
	font-size: 26px;
	margin-right: 5px;
}
