<!--<div id='homer' style="background:url(../content/homer.jpg) right center no-repeat #ececec; height:360px; width:745px; padding:30px 10px;">
   <strong>Homer</strong><br/>
    <em>\noun\</em><br/>
    <strong>1.</strong> American bonehead<br/>
    <strong>2. Pull a Homer-</strong><br/>
    to succeed despite<br/>
    idiocy
	<img src="catalog/view/theme/default/stylesheet/colorbox/content/popup_save.jpg" alt="popup img">
</div>-->
<div class="<?php echo $pop;?>">
	<img src="catalog/view/theme/default/stylesheet/colorbox/content/popup_save.jpg" alt="popup img" title="Homer Defined">
</div>

<script>
    $('#homer strong').css({color:'red'});
</script>