/* Module */
body, .form-control, .btn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: inherit;
}

a {
	cursor: pointer;
}

.input-group + .input-group {
	margin-top: 3px;
}

label.s_help {
	padding-top: 0px!important;
}

label.s_help b {
	display: block;
	font-size: 12px!important;
	color: #888;
	font-weight: normal;
	margin-top: 2px;
	line-height: 15px!important;
}

.form-control + .form-control {
	margin-top: 3px;
}

.tab-switcher {
	border-right: 1px solid #e8e8e8;
	margin-bottom: 20px;
}

.tab-switcher li {
	border: 1px solid #fff;
}

.tab-switcher li a {
	color: #666666;
}

.tab-switcher li.active {
	border: 1px solid #e8e8e8;
	border-right: 1px solid #fff;
	margin-right: -1px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.tab-switcher li.active a, .tab-switcher li.active a:hover, .tab-switcher li.active a:focus {
	background: #fff;
	color: #666666;
	font-weight: 600;
}

.tab-switcher a > i.fa-minus-circle {
	color: #f56b6b;
}