<!-- eBORICA payment gateway by Extensa Web Development - www.extensadev.com -->
<form action="<?php echo $action; ?>" method="post" id="payment"> <!-- borica form id 150123 -->
</form>
<div class="buttons">
  <div class="right"><a onclick="$('#payment').submit();" class="button"><span><?php echo $button_confirm; ?></span></a></div>
</div>
<!-- eBORICA payment gateway by Extensa Web Development - www.extensadev.com -->