<!-- Easypay.bg payment gateway by Extensa Web Development - www.extensadev.com -->
<?php if ($code) { ?>
<p><?php //echo $text_instruction; ?></p>
<p><?php //echo $text_code; ?> <b><?php //echo $code; ?></b></p>
<p><?php //echo $text_payment; ?></p>
<div class="buttons"> <!-- easypay id 150123 -->
  <div class="right"><a id="button-confirm" class="button"><span><?php echo $button_confirm; ?></span></a></div>
</div>
<script type="text/javascript"><!--
$('#button-confirm').bind('click', function() {
	$.ajax({
		type: 'GET',
		url: 'index.php?route=payment/easypay/confirm&code=<?php echo $code; ?>',
		success: function() {
			location = '<?php echo $continue; ?>&code=<?php echo $code; ?>';
		}
	});
});
//--></script>
<?php } elseif ($failed) { ?>
<p><b><?php echo $failed; ?></b></p>
<?php } else { ?>
<p><?php echo $text_failed; ?></p>
<?php } ?>
<!-- Easypay.bg payment gateway by Extensa Web Development - www.extensadev.com -->