<style>
.checkout-product{
display: none;
}
</style>
<!-- <center>
<div style="text-align:left;border: 1px solid #CCC; padding:5px; width:600px;">
<img src="<?php echo $offlinepay_logo;?>" alt="Offline Payments"/>
<h3><?php echo $text_title;?></h3>
<p><?php echo $offlinepay_message;?></p>
<p style="padding-left:30px"><?php echo nl2br($offlinepay_condition);?></p>
</div>
</center>
<br></br> -->
<div class="buttons">
  <div class="right">
    <input type="button" value="<?php echo $button_confirm; ?>" id="button-confirm" class="button" />
  </div>
</div>
<script type="text/javascript"><!--
$('#button-confirm').bind('click', function() {
	$.ajax({ 
		type: 'get',
		url: 'index.php?route=payment/offlinepay/confirm',
		success: function() {
			location = '<?php echo $continue; ?>';
		}		
	});
});
//--></script> 
