<div class="content">
	<div class="profile-box">
		<div class="customer-img">
			<img src="https://vendo.bg/image/cache/icon-header-profile-60x50.png" alt="Денис Лощаков" title="Денис Лощаков" class="avatar" />
		</div>
		<div class="customer-info">
			<div class="customer-email">dloschakov@googlemail.com</div>
			<div class="my-profile">Моят профил
				<div class="profile-wrapper">
									</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('#popupLogin').on('click', function(){
			$.magnificPopup.open({
		        tLoading: '<span><i style="font-size:50px;font-family: FontAwesome;" class="fa fa-spinner fa-pulse"></i></span>',
		        items: {
					src: 'index.php?route=module/popuploggin',
					type: 'ajax'
		        },
		        closeOnContentClick: false,
		   		closeOnBgClick: false
	    	});
		});
	});
</script>