<div class="row columns " >
        
                

                            <div class="column  menu xs-100 sm-50 md-33 lg-15 xl-13">
                <div class="column-menu-wrap">
                        
                        <a href="http://vendo.bg/index.php?route=information/faq"di4>Въпроси и отговори</a>
                                    </div>
                </div>
                            <div class="column  menu xs-100 sm-50 md-33 lg-15 xl-13">
                <div class="column-menu-wrap">
                        
                        <a href="https://vendo.bg/index.php?route=information/information&amp;information_id=17"di4>Бонус Точки</a>
                                    </div>
                </div>
                            <div class="column  menu xs-100 sm-50 md-33 lg-15 xl-13">
                <div class="column-menu-wrap">
                                            Чат с оператор                                    </div>
                </div>
                            <div class="column  menu xs-100 sm-50 md-33 lg-15 xl-13">
                <div class="column-menu-wrap">
                        
                        <a href="http://vendo.bg/index.php?route=information/faq/fullview&faq_id=55"di4>Vendo във Facebook</a>
                                    </div>
                </div>
                            <div class="column  menu xs-100 sm-50 md-33 lg-15 xl-13">
                <div class="column-menu-wrap">
                        
                        <a href="https://vendo.bg/index.php?route=information/information&amp;information_id=5"di4>Общи условия</a>
                                    </div>
                </div>
                            <div class="column  menu xs-100 sm-50 md-33 lg-15 xl-13">
                <div class="column-menu-wrap">
                        
                        <a href="http://vendo.bg/index.php?route=information/contact"di4>Връзка с нас</a>
                                    </div>
                </div>
                            <div class="column  menu xs-100 sm-50 md-33 lg-15 xl-13">
                <div class="column-menu-wrap">
                                            Телефон 0888888888                                    </div>
                </div>
                            <div class="column  menu xs-100 sm-50 md-33 lg-15 xl-13">
                <div class="column-menu-wrap">
                        
                        <a href="http://vendo.bg/index.php?route=affiliate/login"di4>За уебмастъри</a>
                                    </div>
                </div>
            
        
            </div>
    </div>
