<div class="content">
	<div class="profile-box">
		<div class="customer-img">
			<img src="https://vendo.bg/image/cache/icon-header-profile-60x50.png" alt="Денис Лощаков" title="Денис Лощаков" class="avatar" />
		</div>
		<div class="customer-info">
			<div class="customer-email">dloschakov@googlemail.com</div>
			<div class="my-profile">Моят профил
				<div class="profile-wrapper">
															<a href="https://vendo.bg/index.php?route=account/account" di4><i style="margin-right: 5px; font-size: 16px" data-icon="&#xe1b8;"></i><span class="top-menu-link">Профил</span></a>
																				<a href="https://vendo.bg/index.php?route=checkout/checkout" di4><i style="margin-right: 5px; font-size: 18px" data-icon="&#xe17e;"></i><span class="top-menu-link">Плащане</span></a>
																				<a href="index.php?route=account/reward" di4><i style="margin-right: 5px; font-size: 24px" data-icon="&#xe900;"></i><span class="top-menu-link">Бонус точки</span></a>
																				<a href="https://vendo.bg/index.php?route=account/wishlist" di4><i style="margin-right: 5px; font-size: 18px" data-icon="&#xe662;"></i><span class="top-menu-link">Желани</span></a>
																				<a href="https://vendo.bg/index.php?route=account/logout" di4><i style="margin-right: 5px; font-size: 18px" data-icon="&#xe017;"></i><span class="top-menu-link">Изход</span></a>
																				<a href="https://vendo.bg/index.php?route=information/faq" di4><i style="margin-right: 5px; font-size: 18px" data-icon="&#xe62a;"></i><span class="top-menu-link">Помощ</span></a>
																				<a href="https://vendo.bg/index.php?route=information/faq" di4><i style="margin-right: 5px; font-size: 18px" data-icon="&#xe62a;"></i><span class="top-menu-link">Общи условия</span></a>
														</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('#popupLogin').on('click', function(){
			$.magnificPopup.open({
		        tLoading: '<span><i style="font-size:50px;font-family: FontAwesome;" class="fa fa-spinner fa-pulse"></i></span>',
		        items: {
					src: 'index.php?route=module/popuploggin',
					type: 'ajax'
		        },
		        closeOnContentClick: false,
		   		closeOnBgClick: false
	    	});
		});
	});
</script>