.nav-dash{
    list-style:none;
    margin:0 0 0 5px;
    padding:10px 0;
    /*text-align:center;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    background-color:#f9f9f9*/
    }
.nav-dash>li{
    display:inline-block;
    margin:0 3px
    }
.nav-dash>li>a{
    position:relative;
    font-size:32px;
    line-height:32px;
    color:#777;
    display:block;
    background-color:#ddd;
    border:1px solid #ccc;
    width:80px;
    height:80px;
    padding:25px 20px 15px;
    text-align:center;
    margin:0 0 5px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px}
.nav-dash>li>a:hover,.nav-dash>li.active>a{
    color:#fff;
    background-color:#db4a39;
    border:1px solid #db4a39;
    border: 1px solid #161616;
    text-decoration:none}
.nav-dash>li>a>.badge,.nav-dash>li>a>.label{
    position:absolute;
    top:0;
    right:0;
    margin:0 0 0 3px;
    padding:0 7px;
    height:20px;
    line-height:20px
    }
.nav-dash>li>a{font-size:26px;width:72px;height:72px;padding:20px 12px 5px}


.nav-dash>div{
    list-style:none;
    margin:0 0 0 5px;
    padding:10px 0;
    /*text-align:center;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    background-color:#f9f9f9*/
    }
.nav-dash>div>li{
    display:inline-block;
    margin:0 3px
    }
.nav-dash>div>li>a{
    position:relative;
    font-size:32px;
    line-height:32px;
    color:#777;
    display:block;
    background-color:#ddd;
    border:1px solid #ccc;
    width:80px;
    height:80px;
    padding:25px 20px 15px;
    text-align:center;
    margin:0 0 5px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px}
.nav-dash>div>li>a:hover,.nav-dash>div>li.active>a{
    color:#fff;
    background-color:#db4a39;
    border:1px solid #db4a39;
    border: 1px solid #161616;
    text-decoration:none}
.nav-dash>div>li>a>.badge,.nav-dash>div>li>a>.label{
    position:absolute;
    top:0;
    right:0;
    margin:0 0 0 3px;
    padding:0 7px;
    height:20px;
    line-height:20px
    }
.nav-dash>div>li>a{font-size:26px;width:72px;height:72px;padding:20px 12px 5px}


    