/* fast nav */
ul.fast {
	/*text-align:center;
	width:100%;
	margin:30px 0;
	font-size:0;*/
}
ul.fast li {
	display:inline-block;
    float: left;
}

ul.fast img {
	display:inline;
    float:left;
}

ul.fast li a {
	display:inline-block;
	width:150px;
	height:60px;
	padding: 24px 10px 0 10px;
	background-color:#343434;
	font-size:20px;
	color:#eee;
	text-decoration:none;
	text-align:left;
	margin-right:10px;
	margin-bottom:10px;
	
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	
	-webkit-box-shadow: inset 0 -4px 0 #000;
	   -moz-box-shadow: inset 0 -4px 0 #000;
			box-shadow: inset 0 -4px 0 #000;
}
ul.fast li a:hover {
	-webkit-box-shadow: inset 0 -4px 0 #ff4949;
	   -moz-box-shadow: inset 0 -4px 0 #ff4949;
			box-shadow: inset 0 -4px 0 #ff4949;
}
ul.fast li a.chart { background: #343434 url(../img/icons/32px/stats_white.png) no-repeat 10% 50%; }
ul.fast li a.windows { background: #343434 url(../img/icons/32px/windows8_white.png) no-repeat 10% 50%; }
ul.fast li a.pgr { background: #343434 url(../img/icons/32px/paragraph-left2_white.png) no-repeat 10% 50%; }
ul.fast li a.safari { background: #343434 url(../img/icons/32px/signup_white.png) no-repeat 10% 50%; }

.square .ch-item,
.square .ch-info-wrap,
.square .ch-info > div {
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
}

.main-items-small {
	margin:10px 0 15px 0;
	position:relative;
}
.main-items-small li {
	display:inline-block;
	margin:0 3px;
}
.main-items-small li a span {
	margin-top:2px;
}
.action a i {
	margin-top:3px;
}

.ui-multi-slider {
	float:left;
	width:270px;
}
.ui-multi-slider span{
	float:left;
	height:110px;
	margin:15px
}
.ui-range-slider {
	margin-top:15px;
}
.ui-progressbar-move-1,
.ui-progressbar-move-2,
.ui-progressbar-move-3 {
	margin:10px 0;
}
.ui-progressbar.nice {
	height:24px;
	overflow:visible;
}
.ui-progressbar.nice .ui-progressbar-value{
	background: transparent url(../img/progress-animated.gif) repeat-x 0 0;
	border:1px solid #e78f08;
	height:24px;
}
.ui-progressbar.ui-widget-content {
	background-color:#e5e5e5;
	background-image:none;
	
	-webkit-box-shadow:inset 0 2px 4px rgba(115,115,115,0.2);
	   -moz-box-shadow:inset 0 2px 4px rgba(115,115,115,0.2);
			box-shadow:inset 0 2px 4px rgba(115,115,115,0.2);
}
.ui-progressbar {
	height:24px;
	overflow:visible;
	
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
}
.ui-progressbar .ui-progressbar-value {
	height:24px;
	display:none;
	border:1px solid #5ba8e1;
	
	-webkit-border-radius:0;
	   -moz-border-radius:0;
			border-radius:0;
	
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}