.dbt{
	float:left;
	width:150px;
	height:80px;
	overflow:hidden;
	border:1px solid #c0c0c0;
	padding:15px;
	margin:0 10px 10px 0;
	background:#F3F3F3;
	font-size:11px;
	line-height:1.4em;
	text-decoration:none;
	color:#a1a1a1;
	font-family:"Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Verdana, sans-serif;
	}

.dbt img{
	float: left;
	}

.dbt span{
	display:block;
	padding-top:7px;
	}

.dbt_head{
	display:block;
	color:#4a4a4a;
	font-size:14px;
	padding:0 0 0 55px;
	line-height:30px;
	height:45px;
	}
	
.two_lines.dbt_head{
	line-height:17px;
	}
	
.dbt:hover{
	background:#ddd;
	border:1px solid #aaa;
	padding-top:16px;
	height:79px;
}

.dbt:hover .dbt_head{
	color:#222;
}

.dbt_links{
	padding-top: 15px;
}