ul.mActions  {
    margin: 0;
    padding:0;
    text-align: center;
}

ul.mActions li {
    background-color: #f8f8f8;
    cursor: pointer;
    display: inline-block;
    height: 120px;
    margin: 14px 7px;
    padding: 10px;
    text-align: left;
    float:left;
    width: 120px;
    -webkit-box-shadow:  1px 1px 2px 0 rgba(0, 0, 0, .3);
    box-shadow:  1px 1px 2px 0 rgba(0, 0, 0, .3);
    position: relative;
    transition: all .2s linear;
    -webkit-transition: all .2s linear; /* Safari */
    
}

ul.mActions li:hover {
    -webkit-box-shadow:  0 0 4px 1px #33B5E5;
    box-shadow:  0 0 4px 1px #33B5E5; 
    transition: all .2s linear;
    -webkit-transition: all .2s linear; /* Safari */  
}

ul.mActions li h1,
ul.mActions li p {
    font-size: 12px;
    font-weight: normal;
    line-height: 12px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

ul.mActions  a {
    text-decoration: none;
}

ul.mActions li p {
    font-size: 10px;
    line-height: 10px;
    text-transform: none;
}

ul.mActions li i {
    font-size: 70px;
    margin: 0 0 20px 0px;
    display: block;
}

ul.mActions li img {
    /*margin-left: 0px;
    height: 50px;
    margin-bottom: 25px;
    margin-top: 5px;*/
    margin: 10px 0 20px 0px;
}

ul.mActions li:hover a img {
    margin-left: 25px;
}
/*==============================================================================================
=============================================== COLORS =========================================
==============================================================================================*/
.tc01 {
    color: #33B5E5;
}
.tc02 {
    color: #7F8C8D;
}
.tc03 {
    color: #FFBB33;
}
.tc04 {
    color: #99CC00;
}
.tc05 {
    color: #D35400;
}
.tc06 {
    color: #1ABC9C; 
}
.tc07 {
    color: #16A085; 
}
.tc08 {
    color: #FF4444; 
}
.tc09 {
    color: #27AE60; 
}
.tc10 {
    color: #E67E22; 
}
.tc11 {
    color: #2980B9; 
}
.tc12 {
    color: #C0392B; 
}
.tc13 {
    color: #8E44AD; 
}
.tc14 {
    color: #34495E; 
}
.tc15 {
    color: #2C3E50; 
}
.tc16 {
    color: #F1C40F; 
}
