ol{
	
	list-style: none;
	font: 15px 'Tahoma';
	padding: 0;
	margin-bottom: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

ol li.span:hover{
	color:red;
	
}


.rectangle-list-a a{
	position: relative;
	display: block;
	padding: .4em .4em .4em .8em;
	*padding: .4em;
	margin: .5em 0 .5em 0;
	background: #F6F6F6;
	color: #444;
	text-decoration: none;
    width:300px;
	transition: all .3s ease-out;		
}

.rectangle-list-a a:hover{
	background: #fa8072;
    color:white;
}	

	
.rectangle-list-a a:before{
	position: absolute;	
	left: -2.5em;
	top: 50%;
	margin-top: -1em;
	background: #fa8072;
	height: 2em;
	width: 2em;
	line-height: 2em;
	text-align: center;
	font-weight: bold;
}

.rectangle-list-a a:after{
	position: absolute;	
	content: '';
	border: .5em solid transparent;
	left: -1em;
	top: 50%;
	margin-top: -.5em;
	transition: all .3s ease-out;				
}

.rectangle-list-a a:hover:after{
	left: -.5em;
	border-left-color: #fa8072;				
}