.mws-container {
    margin-bottom: 20px;
    width: 100%;
}
.mws {
    background-color: #FAFAFA;
    -moz-box-sizing: border-box;
    background: -moz-linear-gradient(center top , #FFFFFF, #FAFAFA) repeat-x scroll left top #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 6px 6px 6px 6px;
    color: #323232;
    cursor: pointer;
    display: inline-block;
    height: 80px;
    margin: 6px 4px;
    text-decoration: none;
    vertical-align: top;
}
.mws:hover {
    background-color: #FAFAFA;
    color: #323232;
    text-decoration: none;
    -moz-box-sizing: border-box;
    background: -moz-linear-gradient(center top , #FFFFFF, #FAFAFA) repeat-x scroll left top #FFFFFF;
    border: 1px solid #B0B0B0;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.mws .mws-icon {
    background-position: center center;
    border-right: 1px solid #CCCCCC;
    display: block;
    float: left;
    height: 100%;
    width: 50px;
    padding-left:5px;
    padding-right:5px;
    
}
.mws .mws-icon img {
    padding-top:15px;
}
.mws .mws-content {
    display: block;
    margin-left: 49px;
    padding: 15px 20px;
    text-align: left;
}
.mws .mws-content .mws-title {
    display: block;
    font-size: 12px;
    line-height: 15px;
    overflow: hidden;
    width: 160px;
}
.mws .mws-content .mws-value {
    display: inline-block;
    font-size: 22px;
    line-height: 30px;
}
.mws-container  div {
    display: block;
    
}
