/* ======== ===========*/
.widgetlist {
    list-style: none;
}
.widgetlist .account-box a {
    display: block;
    padding: 15px 8px 15px 8px;
}
.widgetlist .account-box a {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 0 #fff;
    color: #069;
}
.widgetlist .account-box a span {
    font-size: 12px;
    display: block;
    margin-top: 10px;
}
.widgetlist .account-box a:hover {
    -moz-box-shadow: 0 0 4px #ddd;
    background: #fcfcfc;
    text-decoration: none;
}
.widgetlist .account-box {
    color: #000;
    display: inline-block;
    float: left;
    width: 130px;
    margin: 0 10px 10px 0;
    color: #333;
    text-align: center;
    background: #f7f7f7;
    text-decoration: none;
    border: 1px solid #ccc; 
}
.widgetlist .account-reward {
    padding: 7px 8px 7px 8px;
}
.widgetlist .account-reward strong {
    display: block;
    color: #f05c5d;
    font-weight: 700;
    font-size: 42px;
}
.widgetlist .account-reward span {
    font-weight: 700;
    font-size: 11px;
}

.widgetlist .account_container_menu {
    float: left;
}
.widgetlist .account_photo {
    float: left;
    margin: 0 10px 10px 0;
}
.widgetlist .account-box-photo {
    text-align: center;
}
.widgetlist .account-box-photo img {
    max-height: 100px; 
}
.widgetlist .account_photo p {
    font-weight: 700;
    text-align: center;
    font-size:13px;
    margin-bottom:10px;
}
.widgetlist h2 {
    text-align: center;
    margin-bottom:15px;
}
.widgetlist .account_photo {
    background: #fff;
    border: 1px solid #ccc;
    padding: 43px 30px 55px 30px;
}