.icon-team, .icon-blog, .icon-home, .icon-portfolio, .icon-services, .icon-contact, .icon-menu {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

a, li {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.nav ul {
	
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 2.5em;
	font-weight: 300;
}

.nav li span {
	display: block;
}

.nav ul li a span {
	font-size: 1.25em;
}

.nav a {
	display: block;
	color: rgba(249, 249, 249, .9);
	text-decoration: none;
	-webkit-transition: color .5s, background .5s, height .5s;
	-moz-transition: color .5s, background .5s, height .5s;
	-o-transition: color .5s, background .5s, height .5s;
	-ms-transition: color .5s, background .5s, height .5s;
	transition: color .5s, background .5s, height .5s;
}

.nav img{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

a, button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.nav li:nth-child(even) {
	background: rgb(233, 147, 26);
}

.nav li:nth-child(2n+1):hover {
	background: rgb(27, 54, 71);
}

.nav li:nth-child(odd) {
	background: rgb(22, 145, 190);
}

.nav li:nth-child(2n+2):hover {
	background: rgb(27, 54, 71);
}

.nav li {
	float: left;
	text-align: center;
	-webkit-transition: border .5s;
	-moz-transition: border .5s;
	-o-transition: border .5s;
	-ms-transition: border .5s;
	transition: border .5s;
    margin-right: 5px;
    margin-bottom: 5px;
    
    
}


.icon {
    padding-top: 3.4em;
}

.icon + span {
	margin-top: 2.1em;
	-webkit-transition: margin .5s;
	-moz-transition: margin .5s;
	-o-transition: margin .5s;
	-ms-transition: margin .5s;
	transition: margin .5s;
}

.nav a {
	height: 220px;
}

/*
.nav img {
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding: 0.8em;
	border-radius: 50%;
	font-size: 1.8em;
	box-shadow: 0 0 0 50px transparent;
	background: rgba(255,255,255,0.1);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: box-shadow .6s ease-in-out;
	-moz-transition: box-shadow .6s ease-in-out;
	-o-transition: box-shadow .6s ease-in-out;
	-ms-transition: box-shadow .6s ease-in-out;
	transition: box-shadow .6s ease-in-out;
}	

*/
.icon {
position: relative;
/* display: inline-block; */
    margin: 0 auto;
    padding: 1.4em;
    margin-top: 1.8em;
    width: 35%;
    border-radius: 100%;
	box-shadow: 0 0 0 50px transparent;
	background: rgba(255,255,255,0.1);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: box-shadow .6s ease-in-out;
	-moz-transition: box-shadow .6s ease-in-out;
	-o-transition: box-shadow .6s ease-in-out;
	-ms-transition: box-shadow .6s ease-in-out;
	transition: box-shadow .6s ease-in-out;
}	



.nav ul {
	font-size: 1.2em;
}


.nav ul li {
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	-ms-transition: background 0.5s;
	transition: background 0.5s;
        width: 150px;
        height : 200px;
}	



.icon-menu {
	position: relative;
	top: 3px;
	line-height: 0;
	font-size: 1.6em;
}

.nav {
	padding-bottom: 20px;;
}


