.btn-box{
display : block;
	padding : 5px 0 22px 17px;
}

a.ibt {
	display : inline-block;
	background-color : #f6f6f6;
	margin : 10px;
	color : #7b7b7b;
	text-decoration : none;
	text-align : center;
	font : 11px/18px Arial;
	width : 126px;
	height : 103px;
    float: left;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fff;
    box-shadow: inset 0px 1px 0px 0px #fff;
    border:1px solid #e2e2e2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px
}

a.ibt:hover {
	opacity : 0.7;
	filter : alpha(opacity=70);
}

a.ibt img {
	display : inline-block;
	padding : 5px 0 5px;
	height : 42px;
}

a.ibt span {
	display : block;
	font : 13px/1.0em Arial;
	color : #7b7b7b;
	text-transform : uppercase;
    color: #BD0606;
}

a.ibt p {
    color: #7b7b7b;
    padding: 0px 3px 5px 3px;
    text-decoration: none;
    text-align: center;
    font: 11px Arial;
    line-height: 1em;
}