.wuxify-me {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 0 rgba(0, 0, 0, 0.13) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 0 rgba(0, 0, 0, 0.13) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -3px 0 rgba(0, 0, 0, 0.13) inset, 0 0 10px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
}

/* Hero unit */
.hero-unit {
  background-color: #f6f6f6;
  border: 1px solid #e0e0e0;
}
.hero-unit h1 {
  margin-bottom: 9px;
}
.hero-unit.wuxify-me,
.hero-unit.blow {
  border: none;
}
.hero-unit.wuxify-me h1,
.hero-unit.blow h1 {
  color: #d43f3f;
}
.hero-unit.wuxify-me p,
.hero-unit.blow p {
  margin-top: 10px;
}
.hero-unit.blow {
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
.hero-unit .nav-secondary {
  margin-top: 10px;
}
.no-boxshadow .hero-unit.blow {
  background-color: #fdfdfd;
  border: 1px solid #e0e0e0;
}



/* Secondary navigation */
.nav-secondary {
  margin-bottom: 20px;
  margin-top: -10px;
}
.nav-secondary ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
  *zoom: 1;
}
.nav-secondary ul:before,
.nav-secondary ul:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav-secondary ul:after {
  clear: both;
}
.nav-secondary li {
  float: left;
  display: block;
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
}
.nav-secondary li:last-child {
  margin-right: 0;
}
.nav-secondary li .badge {
  position: absolute;
  top: -5px;
  right: -8px;
}
.nav-secondary a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 5px;
  background-color: #e9eaf0;
  color: #949599;
  width: 90px;
  height: 90px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.nav-secondary a span {
  display: block;
  font-size: 26px;
  font-weight: normal;
  line-height: normal;
  margin: 15px auto 0;
}
.nav-secondary a:hover,
.nav-secondary .active a {
  text-decoration: none;
  background-color: #d43f3f;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.nav-secondary.inverse a {
  background-color: #d43f3f;
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.nav-secondary.inverse a:hover,
.nav-secondary.inverse .active a {
  background-color: #e9eaf0;
  color: #949599;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
.nav-secondary a span img {
  width:50px;
  height:50px;
}
.nav-secondary a p {
  font-size: 12px;
  padding: 0;
}

