#contact-us { 
  width: 350px;
  background: #ffffff;
  color: #000000;
  border: #000000 5px solid; 
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px; 
}
#contact-us .head-title {
  font-weight: bold;
  font-size: 18px;
  border-bottom: #000000 1px solid;
}
#contact-form {  
  padding:20px;
}
#contact-form input[type="text"], #contact-form textarea { 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px; 
  border-radius: 5px;
}
#closerc {
  font-weight: bold;
  font-size: 16px;
  padding: 1px 4px 0px 6px;   
  background: #2b91af; 
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  position: absolute;
  right: -4px;
  top: -4px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;  
}
#closerc:hover {
  background: #0c6288;     
}