
/*COUPON-POPUP START*/
#custom-colorbox div,#custom-colorbox h2,#custom-colorbox h3,#custom-colorbox input,#custom-colorbox p,#custom-colorbox{
	box-sizing: border-box;
}
#custom-colorbox .mfp-close{
	position: static;
    width: 100%;
    text-decoration: underline;
    /* margin-top: 25px; */
}

#custom-colorbox{
	width: 500px;
    height: 550px;
    margin: auto auto;
    background-color: #fff;
    padding: 30px 50px;
	color: #434242;
	border: 5px solid black;
	border-radius: 30px;
}
.coupon-success #custom-colorbox{
	padding: 50px;
	height: 500px;
}
#custom-colorbox h2{
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	text-align: center; 
	font-size: 36px;
    line-height: 39px;

}
#custom-colorbox p:first-of-type{
	font-family: Arial,sans-serif;
	text-align: left; 
	font-size: 16px;
	line-height: 19px;
}

.coupon-success #custom-colorbox p{
	font-size: 23px;
	line-height: 26px;
	text-align: center;
	margin-left: -15px;
    margin-right: -15px;
    margin-top: 30px;
    margin-bottom: 40px;
}
#custom-colorbox h2,#custom-colorbox p{
	color: #434242;
	margin-bottom: 25px;
}
#custom-colorbox div>input{
	width: 100%;
	height: 45px;
	padding: 7px 20px;
	margin-bottom: 15px;
}
#email{
	background-color: #ebecec;
    border: 2px solid #df5d8e;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 24px;
    line-height: 27px;
}
#submit,#continue{
	background-color: #1399d7;
	border: 2px solid #5b5b5b;
	font-size: 22px;
	font-weight: bold;
	line-height: 31px;
	padding: 12px;
	color: #fff;
	height: 56px;
	border-radius: 5px;
}
#submit:hover{
	cursor: pointer;
}
#custom-colorbox #continue{
	font-size: 25px;
	margin-bottom: 30px;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
}
.logo-underline{
    height: 5px;
    background-color: #5b5b5b;
    margin-bottom: 15px;
}
.coupon-success .logo-underline{
	margin-bottom: 0px;
}
.logo{
	display: block;
	/*width: 100%;*/
    height: 75px;
    padding-bottom: 1px;
    margin-bottom: 25px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.bold{
	font-weight: bold;
}
/*COUPON-POPUP END*/

/*Media*/
@media only screen and (max-width:505px){
	#custom-colorbox{
		max-width: 90%;
    	height: auto;
	}
	#custom-colorbox h2{
		    font-size: 24px;
		    line-height: 27px;
	}
	#custom-colorbox h2,#custom-colorbox p{
		margin-bottom: 15px;
	}
	#custom-colorbox #email, #custom-colorbox #submit{
		font-size: 14px;
	    line-height: 17px;
	    padding: 5px 5px;
	    height: 40px;
	    text-align: center;
	}
	#custom-colorbox button.mfp-close{
	    font-size: 20px;
		line-height: 23px;
	}
	#custom-colorbox .logo{
		width: 90%;
		height: 65px;
		margin-bottom: 15px;
	}
}
@media only screen and (max-width:374px){
	
	#custom-colorbox h2{
		    font-size: 18px;
		    line-height: 21px;
	}
	#custom-colorbox h2,#custom-colorbox p{
		margin-bottom: 10px;
	}
	#custom-colorbox #email, #custom-colorbox #submit{
		text-align: center;
	    font-size: 12px;
	    line-height: 15px;
	    height: 35px;
	    text-align: center;
	}
	#custom-colorbox button.mfp-close{
	    font-size: 20px;
		line-height: 23px;
	}
	#custom-colorbox .logo{
		width: 90%;
		margin-bottom: 10px;
		height: 50px;
	}
	#custom-colorbox p:first-of-type {
	    font-size: 14px;
	    line-height: 17px;
	}
}
/*Media end*/