/*
CUSTOM REGISTRATION - Extension for Opencart
edit this CSS to style: 
- checkout forms
- register account page
- Edit account info
- Edit Address book
*/

.clearfix {clear:both}

/* color for error text and  *asterisks   */
.checkout-content span.required, .checkout-content span.error,
#registration span.required, #registration span.error,
.edit_account_form span.required, .edit_account_form span.error,
.update_address_form span.required, .update_address_form span.error
{color:red}


/* text weight  for * asterisks   */
.checkout-content span.required,
#registration span.required,
.edit_account_form span.required,
.update_address_form span.required
{font-weight:bold}


/* 
Forms - fields spacing for the pages 
-  route=checkout/checkout
-  route=account/register
-  route=account/edit
-  route=account/address/update  
*/
.checkout table.form,
form#registration table.form,
.edit_account_form table.form,
.update_address_form table.form {border-collapse: collapse;}

.checkout .form td,
form#registration table.form td,
.edit_account_form .form td,
.update_address_form .form td  {padding-bottom:10px; vertical-align:middle;}

form#registration .buttons,
.edit_account_form .buttons,
.update_address_form .buttons  {margin-bottom:30px;}




/* labels - registration  */
form#registration td.label {
	display:table-cell;
	width:170px;
	text-align:left; 
	font-weight:normal; 
	font-size:100%; 
	padding:0 10px 0 0
}

/* checkout - general */
.checkout, .intro {margin: 0 30px 30px 30px;}
.checkout-content {margin:10px auto; padding-bottom:50px; max-width: 800px;}

.checkout-content .columns_container {margin:0 auto; }
.checkout-content .left {float:left;}
.checkout-content .right {float:right; }

.checkout-content .left,
.checkout-content .right {width:44%; min-width:240px; padding-right:30px; } /* min-width prevents the input fields from getting too small with low browser width like mobile browsers */
.checkout-content .buttons {display:block; clear:both; float:none;overflow:auto; }
.checkout-content .buttons .right {width:auto; padding:0;}

.checkout-content label {float:none;}
.checkout-content span.wait {float:right}

					
/* Errors and warnings */
.checkout-content .warning {
	position:static;
    background: url("../image/warning.png") no-repeat scroll 10px center #FFD1D1;
    border: 1px solid #F8ACAC;
	padding:10px;
	padding-left:38px;
    border-radius: 4px 4px 4px 4px;
}

.checkout-content .error,
form#registration .error,
.edit_account_form,
.update_address_form .error {display:block; margin:0; padding:0; }

/* checkout login/register form */
#checkout .checkout-content {max-width:700px;}
#checkout .checkout-content .left {width: 280px; padding-right: 100px;}
#checkout .checkout-content #login {width: 200px; padding-right: 0px;}

#checkout .checkout-content #login .buttons {width: 240px} /* aligns the button "login" on the right of input fields  email and password */



/* checkout billing and shipping form */
.checkout-content #payment-new td,
.checkout-content #shipping-new td {padding-right:20px;}

/* shipping and payment methods forms */
#shipping-method td, #payment-method td {padding:0 4px;}
#shipping-method .comment, #payment-method .comment {font-size:16px; font-weight:bold; margin-bottom:4px;}
#payment-method label {font-weight:bold}

/* input fields style */
.checkout-content input[type="text"], 
.checkout-content input[type="password"] {width:200px;}
.checkout-content input[type="checkbox"] {margin:0 5px;}

.checkout-content #shopping_cart_confirm input {width:auto}

form#registration input[type="text"], 
form#registration input[type="password"] {   /*width:200px;*/ }

/* Fix for the select dropdown for low-res devices */
@media all and (min-width: 0px) and (max-width: 400px)  {
	form#registration select,
	.checkout-content select,
	.edit_account_form select,
	.update_address_form select
	{
		width: 180px;
	}
}