/* ICON FONTS */
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?bghqwzw');
    src:url('fonts/icomoon.eot?#iefixbghqwzw') format('embedded-opentype'),
        url('fonts/icomoon.ttf?bghqwzw') format('truetype'),
        url('fonts/icomoon.woff?bghqwzw') format('woff'),
        url('fonts/icomoon.svg?bghqwzw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-caret-down:before {
    content: "\e606";
}
.icon-close:before {
    content: "\e607";
}
.icon-image:before {
    content: "\e608";
}
.icon-cart:before {
    content: "\e600";
}
.icon-pushpin:before {
    content: "\e601";
}
.icon-bubbles:before {
    content: "\e602";
}
.icon-user:before {
    content: "\e603";
}
.icon-spinner:before {
    content: "\e609";
}
.icon-cog:before {
    content: "\e60a";
}
.icon-link:before {
    content: "\e60b";
}
.icon-happy:before {
    content: "\e60c";
}
.icon-info:before {
    content: "\e60d";
}
.icon-exit:before {
    content: "\e60e";
}
.icon-volume-high:before {
    content: "\e60f";
}
.icon-volume-mute:before {
    content: "\e610";
}
.icon-bold:before {
    content: "\e611";
}
.icon-underline:before {
    content: "\e612";
}
.icon-italic:before {
    content: "\e613";
}
.icon-youtube:before {
    content: "\e614";
}
.icon-sound:before {
    content: "\e604";
}
.icon-soundoff:before {
    content: "\e605";
}

.embed-responsive.embed-responsive-4by3 {
    padding-bottom: 75%;
}
.embed-responsive {
    position: relative;
    display: block;
    height: 0px;
    padding: 0px;
    overflow: hidden;
}
.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    border: 0px none;
}

#livehelp {
    position: fixed;
    z-index: 999;
    bottom: 0;
    right: 5%;
    width: 260px;
}

#livehelp.box {
    margin-bottom: 0px;
}

.lh-widget .lh-widget-head {
    cursor: pointer;
    background-color: #F2F2F2;
    /*box-shadow: inset 0 1px 1px rgba(255,255,255,0.4);*/

}

.lh-widget .lh-widget-head:hover {
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05);
}

.lh-widget-head .lh-head-left {
    float: left;
}

.lh-widget-head .lh-head-right {
    float: right;
}

.lh-widget-head .lh-head-btn {
    display: inline-block;
    margin: 0px 0px 0px 10px;
    padding-top: 2px;
}

.lh-widget-head .lh-head-btn a {
    text-decoration: none;
    color: #2B2106;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

.lh-widget-head .lh-head-btn a:hover, .lh-widget-head .lh-head-btn a:focus {
    text-decoration: none;
    color: #22ACE9;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.95);
}

.lh-widget-head h5 {
    text-align: center;
    margin: 0;
    text-shadow: -1px 1px 0px rgba(255, 255, 255, 0.5);
    font-size: 12px;
}

.lh-widget-head h5 .lh-badge {
    margin-left: 5px;
    line-height: 1.5;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
    padding: 1px 8px;
}

.lh-badge .badge-box {
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 50%;
    border: 1px solid #D2D2D2;
    box-shadow: 0px 0px 2px rgba(110, 110, 110, 0.44) inset;
    padding: 2px 6px;
}

/* ACTIVE BOX */

@-webkit-keyframes blinkBackground {
    0% {
        color: #2B2106;
    }
    50% {
        color: #CF0303;
    }
}


@keyframes blinkBackground {
    0% {
        color: #2B2106;
    }
    50% {
        color: #CF0303;
    }
}


.lh-widget.lh-active-box .lh-widget-head h5 {
    animation: blinkBackground 3s steps(1) infinite;
    -webkit-animation: blinkBackground 3s steps(1) infinite;
}

/*
 *		BODY
 */

#livehelp-body.collapse, #livehelp-body .lh-preloader { display: none; }

.lh-widget .lh-widget-body {
	background-color: white;
    width: 258px;
    padding: 0;
    border-radius: 0px;
    border-bottom: 0px;
}

.lh-widget-body .lh-messages {
    padding: 5px 10px;
    height: 248px;
    overflow-y: scroll;
}

/* FORM */
.lh-widget .lh-form-element {
    width: 100%;
    margin-top: 5px;
    padding: 5px 0;
    display: block;
}
.lh-form-element[type="text"] {
    text-indent: 5px;
}


/* MESSAGES BOX */
.lh-messages .msg {
    margin-bottom: 8px;
}

.lh-messages .msg a {
    color: #2E9FC4;
    text-decoration: underline;
}

.lh-messages .msg a:hover, .lh-messages .msg a:focus {
    color: #1C7FA0;
    text-decoration: underline;
}

.lh-messages .lh-msg-image {
    max-width: 100%;
    display: block;
}

.lh-messages .msg + .msg {
    margin-top: 8px;
    padding-top: 8px;
}

/* head */
.lh-messages .msg .msg-head {
    margin-bottom: 5px;
    font-size: 12px;
    color: #AAA;
}

.lh-messages .msg .msg-date:before {
    content: "\e615";
    font-family: "icomoon";
    padding-right: 5px;
}

/* body */
.msg:not(.msg-bot-generated) .msg-body {
    position: relative;
    background-color: #FDFDFD;
    background-image: -moz-linear-gradient(center bottom, #F5F5F5, #FFF);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
    padding: 6px 8px;
    box-shadow: 0px 1px 0px #FFF;
    min-height: 20px;
    line-height: 20px;
    color: #5C5C5C;
    word-wrap: break-word;
}

.msg.msg-bot-generated .msg-body {
    color: rgb(104, 104, 104);
    font-size: 12px;
    font-style: italic;
}

.msg .lh-status-label {
    font-size: 12px;
    font-style: normal;
    margin: 4px 0;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #F3F3F3;
    color: #7F7F7F;
    font-weight: bold;
    text-align: center;
}

.msg .lh-status-text {
    font-size: 10px;

}
/* color resolution */
/* received msg */
.msg.msg-received .msg-head {
    text-align: right;
}

.msg.msg-received .msg-body {
    margin-left: 15px;
}

.msg.msg-received .msg-body:before, .msg.msg-received .msg-body:after {
    right: 100%;
    top: 16px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.msg.msg-received .msg-body:after {
    border-color: rgba(253, 253, 253, 0);
    border-right-color: #FDFDFD;
    border-width: 10px;
    margin-top: -10px;
}

.msg.msg-received .msg-body:before {
    border-color: rgba(204, 204, 204, 0);
    border-right-color: #CCC;
    border-width: 11px;
    margin-top: -11px;
}

/* Sent msg */
.msg.msg-sent .msg-body {
    margin-right: 15px;
    background-color: #EEF2F6;
    background-image: -webkit-linear-gradient(bottom, #E0E7F0, #EEF2F6);
    background-image: -o-linear-gradient(bottom, #E0E7F0, #EEF2F6);
    background-image: linear-gradient(to top, #E0E7F0, #EEF2F6);
    border: 1px solid #C2D1E1;
}

.msg.msg-sent .msg-body:before, .msg.msg-sent .msg-body:after {
    left: 100%;
    top: 16px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.msg.msg-sent .msg-body:after {
    border-color: rgba(238, 221, 240, 0);
    border-left-color: #E5EDF6;
    border-width: 10px;
    margin-top: -10px;
}

.msg.msg-sent .msg-body:before {
    border-color: rgba(218, 194, 225, 0);
    border-left-color: #C2D0E1;
    border-width: 11px;
    margin-top: -11px;
}

.lh-widget-body .lh-input {
    position: relative;
}

.lh-input .lh-textarea-input {
    resize: none;
    border-radius: 0;
    border-top: 1px solid #CCC;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #FFF;
    height: 20px;
    padding: 6px 60px 6px 10px;
    line-height: 20px;
    width: 186px;
    margin: 0;
}

.lh-input .lh-textarea-input:focus, .lh-input .lh-textarea-input:active {
    background-color: #FFF;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-top: 1px solid #CCC;
}

.lh-input .lh-textarea-plugin {
    position: absolute;
    right: 15px;
    z-index: 25;
}

.lh-input .lh-textarea-plugin > .btn {
    padding: 6px 2px;
    vertical-align: top;
    display: inline-block;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    background-color: rgba(0,0,0,0);
    border: 1px solid transparent;
    color: #6B6B6B;
}

.lh-textarea-plugin > .btn:hover, .lh-textarea-plugin > .btn:focus {
    color: #22ACE9;
}

/* LOGIN FORM */

.lh-widget .lh-login-form {
    padding: 10px 15px;
}

.lh-widget .lh-login-form label {
	margin-top: 5px;
}



/* EMOTICON EXTENSION */

.emoticon-list {
    width: 216px;
}

.emoticon-list .emoticon-item {
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    margin: 4px 6px;
    background: url("../image/emoticons.png");
    background-repeat: no-repeat;
    opacity: 0.85;
    cursor: pointer;
}

.emoticon-list .emoticon-item:hover {
    opacity: 1;
}

.emoticon-item.emote-smile {
    background-position: -6px -6px;
}

.emoticon-item.emote-kiss {
    background-position: -40px -6px;
}

.emoticon-item.emote-plain {
    background-position: -74px -6px;
}

.emoticon-item.emote-kissing {
    background-position: -108px -6px;
}

.emoticon-item.emote-sad {
    background-position: -142px -6px;
}

.emoticon-item.emote-blush {
    background-position: -176px -6px;
}

.emoticon-item.emote-surprise {
    background-position: -6px -41px;
}

.emoticon-item.emote-devil {
    background-position: -40px -41px;
}

.emoticon-item.emote-wink {
    background-position: -74px -41px;
}

.emoticon-item.emote-angel {
    background-position: -108px -41px;
}

.emoticon-item.emote-dude {
    background-position: -142px -41px;
}

.emoticon-item.emote-beer {
    background-position: -176px -41px;
}

.emoticon-item.emote-razz {
    background-position: -6px -75px;
}

.emoticon-item.emote-silence {
    background-position: -40px -75px;
}

.emoticon-item.emote-stop {
    background-position: -74px -75px;
}

.emoticon-item.emote-inlove {
    background-position: -108px -75px;
}

.emoticon-item.emote-happy {
    background-position: -142px -75px;
}

.emoticon-item.emote-rude {
    background-position: -176px -75px;
}

.emoticon-item.emote-bored {
    background-position: -6px -109px;
}

.emoticon-item.emote-thumbsup {
    background-position: -40px -109px;
}

.emoticon-item.emote-cry {
    background-position: -74px -109px;
}

.emoticon-item.emote-angry {
    background-position: -108px -109px;
}

.emoticon-item.emote-kissed {
    background-position: -142px -109px;
}

.emoticon-item.emote-laughting {
    background-position: -176px -109px;
}

/* BBCODE */
.bbcode-list {
    width: 164px;
}

.bbcode-list > a {
    width: 28px;
    display: block;
    float: left;
    margin: 4px 6px;
    cursor: pointer;
    padding: 5px 6px;
    background-color: #E4E4E4;
    transition: all ease 0.4s;
    text-decoration: none;
    color: #3C3C3C;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
}
.bbcode-list > a:hover, .bbcode-list > a:focus {
    background-color: #1FABE8;
    color: white;
}