<style>

#license_box {padding-right:20px; }
#license_box h1, 
#license_box h2, 
#license_box p {padding:0; margin:0}

#license_box h1 {font-size:24px;}
#license_box h2 {font-size:18px; margin: 20px 0 0 0 }
#license_box p {margin-bottom:10px; font-family:Courier New, monospace; font-size:15px; text-align:justify;line-height:18px;}
</style>


<div id="license_box">

<br />
<p style="text-align:center;"><b style="color:red">IMPORTANT - READ CAREFULLY</b></p>

<h1 style="text-align:center;">Custom Registration Fields - Extension for Opencart<br />End-User License Agreement (EULA)</h1>

<br />

<ul>

	<li>
		<h2>License</h2>
		
		<p>This End-User License Agreement (EULA) is a legal agreement between You ("Customer", either an individual or a single entity) and the Authors of the Opencart Extension <b>CUSTOM REGISTRATION FIELDS</b> ("Software"). By installing, copying or otherwise using the software You agree to be bound by the terms of this EULA.</p>
	</li>

	<li>
		<h2>Permitted Uses and Restrictions</h2>
		
		<p>The Software is protected by copyright laws and international copyright treaties, as well as other intellectual property laws and treaties. The Software is licensed, not sold.</p>

		<p>EXCEPT AS EXPRESSLY AUTHORIZED ABOVE, YOU MAY NOT COPY, IN WHOLE OR IN PART, SOFTWARE OR DOCUMENTATION, MODIFY THE SOFTWARE, REVERSE COMPILE OR REVERSE ASSEMBLE ALL OR ANY PORTION OF THE SOFTWARE, OR RENT, LEASE, DISTRIBUTE, SELL, OR CREATE DERIVATIVE WORKS OF THE SOFTWARE.</p>
	</li>

	<li>
		<h2>Description of rights and limitations</h2>
		
		<p>Authors grant You a non-exclusive license to use the Software.<br /><b style="color:red">YOU MAY INSTALL A COPY OF THIS SOFTWARE ON <u>ONE WEBSITE ONLY</u>. IF YOU WANT TO INSTALL THIS SOFTWARE ON MORE THAN ONE WEBSITE <u>YOU MUST BUY ONE LICENSE FOR EACH WEBSITE</u>.</b> You may use this Software for commercial and non-commercial use. Any use for profit or by any business constitutes commercial use. Any use by recognized academic or charitable institutions constitutes non-commercial use.</p>
	</li>


	<li>
		<h2>Limitation of Liability</h2>
		
		<p>The Software is provided <b>"as is"</b> without warranty of any kind, either express or implied, including without limitation any implied warranties of condition, uninterrupted use, merchantability, fitness for a particular purpose, or non-infringement.</p>
		
		<p>IN NO EVENT WILL THE AUTHORS OF THIS SOFTWARE BE LIABLE FOR ANY LOST REVENUE, PROFIT, OR DATA, OR FOR SPECIAL, INDIRECT, CONSEQUENTIAL, INCIDENTAL, OR PUNITIVE DAMAGES HOWEVER CAUSED AND REGARDLESS OF THE THEORY OF LIABILITY ARISING OUT OF THE USE OF OR INABILITY TO USE THE SOFTWARE EVEN IF THEY HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
		
		<p>In no event shall Authors' liability to You, whether in contract, tort (including negligence), or otherwise, exceed the price paid by You.</p>
	</li>


	<li>
		<h2>Termination of License</h2>
		
		<p>This License is effective until terminated. You may terminate this License at any time by destroying all copies of Software including any documentation. This License will terminate immediately without notice from Authors if You fail to comply with any provision of this License. Upon termination, You must destroy all copies of Software.</p>
	</li>

</ul>

</div>