body{
	color:#666;
}
.srch{
	float:right;
	width:50%;
}
.srch .form-control{
	width:84%;
}
h3 a {
  background: url("../image/plus.png") 7px 6px no-repeat;
  display: block;
  padding: 10px;
  padding-left: 38px;
  margin: 0;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}
h3.open a {background: url("../image/minus.png") 7px 6px no-repeat;}
#accordion h3{
	background:#f5f5f5;
	border:1px solid #ddd;
	margin-bottom:10px;
}
.sub{list-style:none;border:1px solid #ddd;padding:0px;margin-top:0px;}
.sub li{
padding:15px;
background:#fff;
color:#666;
font-size:21px;
line-height:20px;
}
.accord ul{
	list-style-type: none;
	padding:0;
	margin:5px 0px;
}

#accordion h3 a {
	color: #333;
	text-decoration: none;
	font-size:20px;
}
.accord ul li span {
	color:#333;
	font-size:40px;
	font-weight:bold;
	margin-left: 20px;
	cursor: pointer;
	vertical-align:middle;	
}
.collapse a{
	margin-left:10px !important;
}
.faq_title{
	font-size:21px;
	color:#444;
	
}
.collapse{display:block!important;visibility:visible !important;}