
<ul class="super-menu mobile-menu menu-floated" style="table-layout: ">
    <div id="search_mobile" class="j-min hide-on-desktop">
        <div class="button-search_mobile j-min"><i></i></div>
                <input type="text" name="search_mobile" placeholder="Търси" value="" autocomplete="off" />
            </div>
        <li class="drop-down float-left">
                <a href="https://vendo.bg/index.php?route=product/category&amp;path=103"  ><span class="main-menu-text">Ново</span></a>
                                                                
        
        <span class="mobile-plus 2">+</span>
    </li>
        <li class="drop-down float-left">
                <a href="https://vendo.bg/index.php?route=product/category&amp;path=104"  ><span class="main-menu-text">Джаджи</span></a>
                                                                
        
        <span class="mobile-plus 2">+</span>
    </li>
        <li class="drop-down float-left">
                <a href="https://vendo.bg/index.php?route=product/category&amp;path=105"  ><span class="main-menu-text">За дома</span></a>
                                                                
        
        <span class="mobile-plus 2">+</span>
    </li>
        <li class="drop-down float-left">
                <a href="https://vendo.bg/index.php?route=product/category&amp;path=106"  ><span class="main-menu-text">За телефона</span></a>
                                                                
        
        <span class="mobile-plus 2">+</span>
    </li>
        <li class="drop-down float-left">
                <a href="https://vendo.bg/index.php?route=product/category&amp;path=107"   class = "parent"><span class="main-menu-text">Мъжка мода</span></a>
                                                <ul><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=107_121" >Долнища</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=107_122" >Горнища</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=107_123" >Обувки</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=107_124" >Бельо</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=107_125" >Часовници</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=107_126" >Чанти и Портмонета</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=107_127" >Аксесоари</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=107_128" >Хоби</a></li></ul>                
        
        <span class="mobile-plus 2">+</span>
    </li>
        <li class="drop-down float-left">
                <a href="https://vendo.bg/index.php?route=product/category&amp;path=108"   class = "parent"><span class="main-menu-text">Дамска мода</span></a>
                                                <ul><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=108_111" >Красота и грим</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=108_112" >Рокли</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=108_113" >Горнища</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=108_114" >Долнища</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=108_115" >Обувки</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=108_116" >Бельо</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=108_117" >Часовници</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=108_118" >Чанти и Портмонета</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=108_119" >Аксесоари</a></li><li><a href="https://vendo.bg/index.php?route=product/category&amp;path=108_120" >Хоби</a></li></ul>                
        
        <span class="mobile-plus 2">+</span>
    </li>
        <li class="drop-down float-left">
                <a href="https://vendo.bg/index.php?route=product/category&amp;path=109"  ><span class="main-menu-text">Бебета и деца</span></a>
                                                                
        
        <span class="mobile-plus 2">+</span>
    </li>
                <li class="hide-on-desktop di4">
                                                    </li>
            <li class="hide-on-desktop di4">
                                            <a href="https://vendo.bg/index.php?route=checkout/checkout" di4><i style="margin-right: 5px; font-size: 18px" data-icon="&#xe17e;"></i><span class="top-menu-link">Плащане</span></a>
                                        </li>
            <li class="hide-on-desktop di4">
                                                    </li>
            <li class="hide-on-desktop di4">
                                                    </li>
            <li class="hide-on-desktop di4">
                                                    </li>
            <li class="hide-on-desktop di4">
                                            <a href="https://vendo.bg/index.php?route=information/faq" di4><i style="margin-right: 5px; font-size: 18px" data-icon="&#xe62a;"></i><span class="top-menu-link">Помощ</span></a>
                                        </li>
            <li class="hide-on-desktop di4">
                                            <a href="https://vendo.bg/index.php?route=information/information&amp;information_id=5" di4><i style="margin-right: 5px; font-size: 18px" data-icon="&#xe62a;"></i><span class="top-menu-link">Общи условия</span></a>
                                        </li>
    </ul>
