/*  BS POPOVER  */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Armata", "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: left;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
/* line 31, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover.top {
  margin-top: -10px;
}
/* line 32, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover.right {
  margin-left: 10px;
}
/* line 33, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover.bottom {
  margin-top: 10px;
}
/* line 34, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover.left {
  margin-left: -10px;
}

/* line 37, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 1px 1px 0 0;
}

/* line 46, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover-content {
  padding: 9px 14px;
}

/* line 55, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover > .arrow, .popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

/* line 65, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover > .arrow {
  border-width: 11px;
}

/* line 68, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover > .arrow:after {
  border-width: 10px;
  content: "";
}

/* line 74, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
/* line 81, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #fff;
}
/* line 89, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
/* line 96, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #fff;
}
/* line 104, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
/* line 111, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #fff;
}
/* line 120, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
/* line 127, ../sass/bootstrap/bootstrap/_popovers.scss */
.popover.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #fff;
  bottom: -10px;
}