/*
    ColorBox Core Style
    The following rules are the styles that are consistant between all ColorBox themes
*/
#colorbox a {
  color: #06464c; }
  #colorbox a:visited {
    color: #444444; }
  #colorbox a:hover {
    color: #0c707e; }
  #colorbox a:active {
    color: #30711c; }

#colorbox, #cboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999; }

#cboxWrapper {
  position: fixed;
  top: 50px;
  margin: 0 auto;
  z-index: 9999; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%; }

#cboxMiddleLeft, #cboxBottomLeft {
  clear: left; }

#cboxContent {
  position: relative;
  overflow: visible; }

#cboxLoadedContent {
  overflow: auto;
  width: 0;
  height: 0; 
  -webkit-overflow-scrolling: touch; }

#cboxLoadedContent iframe {
  display: block;
  width: 100%;
  height: 100%;
  border: 0; }

#cboxTitle {
  margin: 0; }

#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer; }

/*
	ColorBox example user style
	The following rules are ordered and tabbed in a way that represents the order/nesting of the generated HTML,
	in hope that this will make the relationship easier to understand. Thanks, jack@colorpowered.com
*/
#cboxOverlay {
  background: rgba(0, 0, 0, 0.7); }

#cboxContent {
  background-color: #f8f8f8; }

#cboxTopLeft {
  width: 22px;
  height: 22px;
  background: url(images/cboxTopLeft_plain.png) top left no-repeat; }

#cboxTopCenter {
  height: 22px;
  background: url(images/cboxTopCenter_plain.png) top left repeat-x; }

#cboxTopRight {
  width: 22px;
  height: 22px;
  background: url(images/cboxTopRight_plain.png) top right no-repeat; }

#cboxBottomLeft {
  width: 22px;
  height: 115px;
  background: url(images/cboxBottomLeft.png) bottom left no-repeat; }

#cboxBottomCenter {
  height: 115px;
  background: url(images/cboxBottomCenter.png) bottom left repeat-x; }

.multiplebgs #cboxBottomCenter {
  background-image: url(images/cboxActionDivider.png), url(images/cboxBottomCenter.png);
  background-position: right 26px, center bottom;
  background-repeat: no-repeat, repeat-x; }

#cboxBottomRight {
  width: 22px;
  height: 115px;
  background: url(images/cboxBottomRight.png) bottom right no-repeat; }

#cboxMiddleLeft {
  width: 22px;
  background: url(images/cboxMiddleLeft.png) top left repeat-y; }

#cboxMiddleRight {
  width: 22px;
  background: url(images/cboxMiddleRight.png) top right repeat-y; }

#cboxContent {
  background: #fff; }

#cboxLoadedContent {
  margin: auto; }

#cboxLoadingOverlay {
  background: url(images/loading_background.png) center center no-repeat; }

#cboxLoadingGraphic {
  background: url(images/loading.gif) center center no-repeat; }

#cboxTitle {
  position: absolute;
  bottom: -75px;
  left: 0;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: normal;
  color: #666666; }

.textshadow #cboxTitle {
  text-shadow: #fff 1px 1px 1px; }

#cboxCurrent {
  position: absolute;
  bottom: -75px;
  left: 110px;
  color: #444444;
  font-size: 14px; }

#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  position: absolute;
  bottom: -85px;
  height: 42px;
  text-indent: -9999px; }

#cboxPrevious, #cboxNext, #cboxClose {
  background-image: url(images/cboxControls.png); }

#cboxPrevious, #cboxNext {
  width: 42px; }

#cboxPrevious {
  left: 15px;
  background-position: 0px 0px; }

#cboxPrevious.hover {
  background-position: 0px -43px; }

#cboxPrevious:active {
  background-position: 0px -86px; }

#cboxNext {
  left: 60px;
  background-position: -43px 0px; }

#cboxNext.hover {
  background-position: -43px -43px; }

#cboxNext:active {
  background-position: -43px -86px; }

#cboxClose {
  right: -15px;
  width: 88px;
  background-position: -85px 0px; }

#cboxClose.hover {
  background-position: -85px -43px; }

#cboxClose:active {
  background-position: -85px -86px; }

.cboxSlideshow_on #cboxSlideshow {
  background-position: -83px 0px;
  right: 27px; }

.cboxSlideshow_on #cboxSlideshow.hover {
  background-position: -106px 0px; }

.cboxSlideshow_off #cboxSlideshow {
  background-position: -106px -23px;
  right: 27px; }

.cboxSlideshow_off #cboxSlideshow.hover {
  background-position: -83px 0px; }
